
/* ul{
list-style-type: none;
padding: 0;
border:2px solid gray;
}
ul li{
padding:8px 16px;
border-bottom:1px solid gray;

} */
 table{
    border-collape: collapse;
    width: 100%;
 }
 th,td{
    text-align: left;
    padding: 10px;
 }
 tr:nth-child(even){
    background-color: #eae2e2;
 }


